.small-form-button {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  padding: 5px 15px 4px 15px;
  font-size: 12px;
  transition: all 0.3s;
  margin: 0px 10px 0px 0px;
}

.small-form-button:hover {
  cursor: pointer;
}


.small-form-button-green {
  background-color: #80d39b;
  color: #fff;
  border-bottom: 3px solid #75c08d;
}

.small-form-button-grey {
  background-color: rgba(0,0,0,0.2);
  color: #fff;
  border-bottom: 3px solid rgba(0,0,0,0.1);
  cursor: default !important;
}

.small-form-button-blue {
  background-color: #A9BBC7;
  color: #fff;
  border-bottom: 3px solid #8DA5B5;
}
