.left-postlist-header-box {
  width: 60px;
  height: 20px;
  display: inline-block;
  text-align: left;
  padding: 15px 15px 15px 0px;
  vertical-align: top;
  margin-top: -15px;
  //background-color: yellow;
}
.right-postlist-header-box {
  width: calc(100% - 75px);
  height: 14px;
  display: inline-block;
  text-align: right;
  padding: 21px -10px 15px 15px;
  margin-top: -15px;
  //background-color: grey
}
