.close-button {
  text-decoration: none;
  font-size: 14px;
  color: #ed6a5a;
  width: 30px;
  height: 24px;
  padding: 3px 0px 0px 0px;
  border-radius: 100%;
  transition: 0.3s;
  margin: 0 auto;
  display: inline-block;
}
