.medium-button {
  display: inline-block;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  padding: 13px 30px 10px 30px;
  font-size: 14px;
}

.medium-button:hover {
  cursor: pointer;
}

.medium-button-green {
  background-color: #80d39b;
  color: #fff;
  border-bottom: 3px solid #75c08d;
}
