.post-header-top-container {
  background-color: #F5BB7D;
  color: #9A6328;
  padding: 10px 15px 10px 15px;
  font-size: 11px;
}

.post-header-author-container {
  display: inline-block;
  width: calc(100% - 200px);
}

.post-header-category-badge {
  display: inline-block;
  margin: -5px;
  margin-left: 15px;
  background-color: #FCFCFC;
  padding: 2px 10px 3px 10px;
  border-radius: 10px;
}

.post-header-action-buttons-container {
  display: inline-block;
  //background-color: #fff;
  width: 200px;
  text-align: right;
  vertical-align: top;
  height: 10px;
  margin-top: -5px
}




.post-action-box {
  display: inline-block;
  padding: 5px
}

.edit-post-link {
  font-size: 16px;
  color: #DD9D59;
  transition: all 0.3s;
}

.edit-post-link:hover {
  color: #9C7750;
}

.delete-post-link {
  cursor: pointer;
  font-size: 16px;
  color: #DD9D59;
  transition: all 0.3s;
}

.delete-post-link:hover {
  color: #9C7750;
}

.confirmation-text {
  font-size: 12px;
  padding: 4px 10px 7px 10px;
}

.confirm-abort-delete-link {
  cursor: pointer;
  font-size: 14px;
  padding: 3px;
  border-radius: 50px;

}

.confirm-btn {
  color: #69AD7F;
  background-color: #FCFCFC;
  font-weight: bold
}

.abort-btn {
  color: #D86152;
  background-color: #FCFCFC;
  font-weight: bold
}











.post-header {
  padding: 25px 25px 15px 30px;
  margin-bottom: 50px;
  background-color: #FCEFE2;
}

.post-header h2 {
  margin: 5px 0px 15px 0px
}

.post-header h6 {
  margin: 0px 0px 10px 0px;
  font-style: italic;
  color: rgba(0,0,0,0.5);

}

.post-header-title-container {
  display: inline-block;
  //background-color: grey;
  width: 100%;
}



.post-header-body-container {
  //border-bottom: 1px solid rgba(0,0,0,0.05);
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 15px 0px;
}

.post-header-engagement-box {
  color: rgba(0,0,0,0.5);
  padding-top: 15px;
  padding-bottom: 15px;
}








.postheader-link,
.postheader-link:visited,
.postheader-link:active,
.postheader-link:hover {
  text-decoration: none;
  color: #1e2332
}

.vote-thumb {
  cursor: pointer;
  color: rgba(0,0,0,0.3);
  font-size: 18px;
  margin-right: 10px;
  margin-bottom: -3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.3s;
}

.vote-tumb:hover {
  color: rgba(0,0,0,0.6);
}
