.navbar {
  height: 80px;
  background-color: #1e2332;
  background-image: url('../../images/rocket-flying.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
}

.content-container {
  width: 100%;
  transition: all 0.3s;
}

@media only screen and (min-width: 1300px) {
  .content-container {
    width: 80%;
    margin-left: 10%
  }
}
