.postlist-container {
  width: calc(100% - 425px);
  //background-color: yellow;
  padding: 50px 25px 50px 50px;
  float: right;
  transition: all 0.3s;
}

.postlist-box {
  //background-color: #f3efed;
}

.categoryselect-container {
  width: 275px;
  text-align: center;
  //background-color: grey;
  float: right;
  padding: 50px 50px 50px 25px;
  transition: all 0.3s;
}

.category-box {
  padding: 0px 0px 25px 0px;
  //background-color: #f0f3f5;
  border-bottom: 1px solid #c6d2da;
}

@media only screen and (max-width: 900px) {
  .postlist-container {
    width: calc(100% - 50px);
    padding: 25px;
  }

  .categoryselect-container {
    width: calc(100% - 50px);
    padding: 25px;
  }
}

.category-link {
  text-decoration: none;
  margin: 3px;
  background-color: #d4dde3;
  border-radius: 25px;
  color: #63849a;
  padding: 7px 18px 7px 18px;
  display: inline-block;
  font-size: 12px;
}

.reset-link, .reset-link:active {
  text-decoration: none;
  font-size: 14px;
  color: #ed6a5a;
  padding-top: 13px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 100%;
  transition: 0.3s;
}

.reset-link:hover {
  background-color: #fbe3e1
}

.nothing-found {
  text-align: center
}

.nothing-image {
  height: 300px;
  width: 100%;
  background-image: url('../images/sad_cloud.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
}

.large-button {
  background-color: #80d39b;
  color: #fff;
  width: 100px;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  padding: 18px 50px 15px 50px;
  font-size: 18px;
  border-bottom: 3px solid #75c08d;
  font-weight: 600
}

.large-button:hover {
  cursor: pointer;
}

.button-container {
  margin-top: 50px;
}

.listsort-link {
  cursor: pointer;
  margin-left: 5px;
  padding: 3px 8px 3px 8px;
  border-radius: 15px
}
