.modal {
  position: absolute;
  top: 40px;
  left: 25%;
  right: 25%;
  bottom: 40px;
  background-color: #fff;
  transition: all 0.3s;
  border: 0px;
  box-shadow: none
}

@media only screen and (max-width: 900px) {
  .modal {
    left: 40px;
    right: 40px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
}
