.home-button {
  position: absolute;
  top: 25px;
  left: 25px;
  padding-top: 5px;
  color: #D6D7D9;
}

.post-detail-container {
  //background-color: grey;
  width: calc(70% - 50px);
  padding: 50px 25px 50px 25px;
  transition: all 0.3s;
  float: left;
}

@media only screen and (max-width: 800px) {
  .post-detail-container {
    width: calc(100% - 50px);
    margin: 0;
  }
}

.comment-box {
  margin-bottom: 25px;
  background-color: lightgray;
}

.home-icon {
  margin-right: 10px
}
