.home-button {
  position: absolute;
  top: 25px;
  left: 25px;
  padding-top: 5px;
  color: #D6D7D9;
}

.post-detail-container {
  //background-color: grey;
  width: 100%;

  transition: all 0.3s;
  float: left;
}


.comment-box {
  margin-bottom: 25px;
  background-color: lightgray;
}

.home-icon {
  margin-right: 10px
}
