.main-screen {
  width: calc(100% - 425px);
  //background-color: lightgray;
  padding: 100px 25px 50px 50px;
  float: left;
  transition: all 0.3s;
}

.sidebar-right {
  width: 275px;
  text-align: center;
  //background-color: grey;
  float: right;
  padding: 100px 50px 50px 25px;
  transition: all 0.3s;
}

@media only screen and (max-width: 900px) {
  .main-screen {
    width: calc(100% - 50px);
    padding: 25px;
  }

  .sidebar-right {
    width: calc(100% - 50px);
    padding: 25px;
  }
}

.component-header-box {
  //background-color: lightgrey;
  height: 35px;
  padding: 15px 0px 0px 0px;
  border-bottom: 1px solid #c6d2da;
  margin-bottom: 25px;

}

h3 {
  font-weight: 600;
  margin: 0;
}

h6 {
  font-weight: 300
}

h5 {
  font-weight: 300;
  margin: 0;
}

.material-icons {
  vertical-align: middle;
  margin-top: -5px;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::placeholder {
  color: lightgray;
  font-family: montserrat;
}

:-ms-input-placeholder {
   color: lightgray;
   font-family: montserrat;
}

::-ms-input-placeholder {
   color: lightgray;
   font-family: montserrat;
}

.standard-container {
  //background-color: grey;
  width: calc(100% - 100px);
  padding: 100px 50px 50px 50px;
  transition: all 0.3s;
  margin-bottom: 100px;
}

@media only screen and (min-width: 900px) {
  .standard-container {
    width: calc(70% - 100px);
    margin-left: 15%;
  }
}
