.large-button {
  width: 100px;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  padding: 18px 50px 15px 50px;
  font-size: 18px;
  font-weight: 600
}

.large-button:hover {
  cursor: pointer;
}

.large-button-green {
  background-color: #80d39b;
  color: #fff;
  border-bottom: 3px solid #75c08d;
}
